<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50942812271-29up9ir8m4uc9i302p5qgti7a6obo2ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50942812271-29up9ir8m4uc9i302p5qgti7a6obo2ec</string>
	<key>API_KEY</key>
	<string>AIzaSyADWMDXaNSZICwvFUMFRCUR9_yBJLW0HWY</string>
	<key>GCM_SENDER_ID</key>
	<string>50942812271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecomAdmin</string>
	<key>PROJECT_ID</key>
	<string>ecom-98c1a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-98c1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50942812271:ios:c3afabd7b82431ffbfad9a</string>
</dict>
</plist>